<div class="container">
    <div class="row mt-4">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12 text-right">
                    <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button" class="btn btn-primary m-1" (click)="rasterize();">
                  <i class="fa fa-download" aria-hidden="true"></i> Export to image</button>
                    <button data-toggle="tooltip" data-placement="bottom" title="Export to SVG" type="button" class="btn btn-primary m-1" (click)="rasterizeSVG();">
                  <i class="fa fa-download" aria-hidden="true"></i> Export to SVG</button>
                    <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button" class="btn btn-primary m-1" (click)="saveCanvasToJSON();">
                  <i class="fa fa-save" aria-hidden="true"></i> Save local</button>
                    <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button" class="btn btn-primary m-1" (click)="loadCanvasFromJSON();">
                  <i class="fa fa-save" aria-hidden="true"></i> Load local</button>
                    <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button" class="btn btn-danger" (click)="confirmClear();">
                  <i class="fa fa-ban" aria-hidden="true"></i> Clean</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-1 d-flex align-items-center">
            <input type="text" class="form-control color-input" [cpPosition]="'bottom'" [(colorPicker)]="canvas.props.canvasFill" [style.background]="canvas.props.canvasFill" (colorPickerChange)="setCanvasFill()">
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="canvas.textString">

                <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text" class="btn btn-primary" (click)="addText()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-around align-items-center ">
                <div *ngIf="canvas.selected && canvas.textEditor || canvas.selected && canvas.figureEditor">
                    <div class="custom-item-title"></div>
                    <div class="custom-item-body">
                        <input type="text" class="form-control color-input" [cpPosition]="'bottom'" [(colorPicker)]="canvas.props.fill" [style.background]="canvas.props.fill" (colorPickerChange)="setFill()">
                    </div>
                </div>
                <div *ngIf="canvas.selected && canvas.textEditor">
                    <div class="custom-item-title"></div>
                    <div class="custom-item-body">
                        <select [(ngModel)]="canvas.props.fontFamily" class="form-control" (change)="setFontFamily()">
                      <option value="arial">Arial</option>
                      <option value="helvetica" selected>Helvetica</option>
                      <option value="verdana">Verdana</option>
                      <option value="courier">Courier</option>
                      <option value="Roboto">Roboto</option>
                      <option value="Open Sans">Open Sans</option>
                      <option value="Zilla Slab">Zilla Slab</option>
                      <option value="Lato">Lato</option>
                      <option value="Bellefair">Bellefair</option>
                      <option value="Fresca">Fresca</option>
                      <option value="Raleway">Raleway</option>
                      <option value="Open Sans Condensed">Open Sans Condensed</option>
                      <option value="Indie Flower">Indie Flower</option>
                      <option value="Josefin Sans">Josefin Sans</option>
                      <option value="Inconsolata">Inconsolata</option>
                      <option value="Pacifico">Pacifico</option>
                      <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                  </select>
                    </div>
                </div>

                <div *ngIf="canvas.selected && canvas.textEditor">
                    <div class="custom-item-title"></div>
                    <div class="custom-item-body text-center">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': canvas.props.fontWeight }" (click)="setBold()">
                          <i class="fa fa-bold"></i>
                      </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="canvas.selected && canvas.textEditor">
                    <div class="custom-item-title">Font Size</div>
                    <div class="custom-item-body">
                        <input type="range" [(ngModel)]="canvas.props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{canvas.props.fontSize}}</div>
                </div>
                <div *ngIf="canvas.selected && canvas.textEditor">
                    <div class="custom-item-title">Char Spacing</div>
                    <div class="custom-item-body">
                        <input type="range" [(ngModel)]="canvas.props.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">{{canvas.props.charSpacing}}</div>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <div class="btn-group" role="group" aria-label="...">
                <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!canvas.selected" (click)="removeSelected();">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
                <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected" (click)="sendToBack();">
                <i class="fa fa-level-down" aria-hidden="true"></i>
            </button>
                <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected" (click)="bringToFront();">
                <i class="fa fa-level-up" aria-hidden="true"></i>
            </button>
                <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected || canvas.selected.type == 'group'" (click)="clone();">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
                <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected" (click)="cleanSelect()">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-xl-6">
            <angular-editor-fabric-js #canvas></angular-editor-fabric-js>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">Bundle List</div>
                <div class="card-body max-height">
                    <img class="images-item" (click)="openCropModal(content , '../assets/img/back1.jpg')" src="../assets/img/back1.jpg">
                    <img class="images-item" (click)="openCropModal(content , '../assets/img/back2.jpg')" src="../assets/img/back2.jpg">
                    <img class="images-item" (click)="openCropModal(content , '../assets/img/back3.jpg')" src="../assets/img/back3.jpg">
                    <img class="images-item" (click)="openCropModal(content , '../assets/img/back4.jpg')" src="../assets/img/back4.jpg">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Crop Image</h4>
        </div>
        <div class="modal-body">
            <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="false" [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">close</button>
            <button type="button" class="btn btn-outline-primary" (click)="save()">Save</button>
            <button type="button" class="btn btn-outline-primary" (click)="saveAndCrop()">Crop and Save</button>
        </div>
    </ng-template>


</div>